.titulo-p-d-flex {
    font-weight: bold;
    font-size: 20px;
    color: black

}

.pergunta-p-col-8 {
    font-weight: bold;
    font-size: 15px;
    font-style: inherit;
    color: #696969;
}

/* .atividade-montar-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #DDDD 0%, rgb(134, 131, 134) 100%);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.example-container-pergunta {
    background: white;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    margin-left: 5px;
}

.example-container-resposta {
    background: white;
    border-radius: 30px;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-left: 20px;
}

.p-mb-2-text {
    font-weight: bold;
    font-size: 20px;
    font-style: inherit;
    color: #696969;
    width: 90px;
    height: 70px;
    padding-left: 10px;
} 
